html,
body,
h1,
ul {
  margin: 0;
  padding: 0; }

body {
  font-family: "Arial", "Helvetica", sans-serif; }

div {
  position: absolute; }

/*
 * Nav
 */
#nav-container {
  height: 100%;
  background-color: #303030;
  width: 65%; }

#nav {
  background-color: #303030;
  width: 100%; }

#nav ul {
  list-style-type: none;
  padding-top: 20px; }
  #nav ul li {
    color: #fff;
    font-size: 1.2em;
    border-bottom: 1px solid #1e1e1e;
    padding: 0 18px 13px 18px; }
  #nav ul li + li {
    padding-top: 13px; }

/*
 * Main
 */
#main-container {
  height: 100%;
  -webkit-transform: translate(65%, 0px);
  width: 100%; }

#main header {
  padding: 18px; }
  #main header #menu {
    display: inline-block;
    vertical-align: top; }
  #main header h1 {
    font-size: 1.35em;
    display: inline-block;
    vertical-align: top; }
